.main {
  width: 100%;
  max-width: 1200px;
  margin: 32px auto;
  padding: 0 50px;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
}

.championImage__container {
  display: flex;
  justify-content: center;
  width: 30%;
}

.championImage {
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 20px 30px 0 rgb(0, 0, 0, 0.45);
}

.championInfo__container {
  width: 66%;
}

.championInfo__rowOne {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 16px;
}

.championRoles {
  font-size: 20px;
  font-weight: 500;
  color: #324b4d;
}

.championName {
  font-size: 32px;
  font-weight: 700;
  color: #324b4d;
}

.championTitle {
  font-size: 26px;
  font-weight: 600;
}

.championInfo__stats {
  margin-bottom: 16px;
}

.championInfo__stat {
  display: flex;
  padding: 0;
}

.championInfo__statsText {
  display: flex;
  align-items: center;
  width: 15%;
}
